</body>

<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fullwidth mt-5">

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light rounded-circle m-1" href="https://www.facebook.com/karan.agrawal.566148/" role="button">
            <i class="fa fa-facebook-f"></i>
        </a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light rounded-circle m-1" href="https://twitter.com/KaranAg95300959" role="button">
            <i class="fa fa-twitter"></i>
        </a>
  
        <!-- Google -->
        <a class="btn btn-outline-light rounded-circle m-1" href="#" role="button">
            <i class="fa fa-google"></i>
        </a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light rounded-circle m-1" href="https://www.instagram.com/__karanagrawal/" role="button">
            <i class="fa fa-instagram"></i>
        </a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light rounded-circle m-1" href="https://www.linkedin.com/in/karan-agrawal19/" role="button">
            <i class="fa fa-linkedin"></i>
        </a>
  
        <!-- Github -->
        <a class="btn btn-outline-light rounded-circle" href="https://github.com/Karan190" role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <span class="text-white">Karan Agrawal</span>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->



</html>