<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid py-2">
    <a class="navbar-brand" href="#">PRATIDIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/compose">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About Us</a>
        </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        <form action="/search" method="get" class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchText">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <% if(!user || user==undefined){ %>
          <li class="nav-item dropdown">
            <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            aria-expanded="false"> -->
            <button class="btn btn-success nav-link dropdown-toggle ms-2" data-bs-toggle="dropdown"
              aria-expanded="false">Sign In</button>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

              <li><a class="dropdown-item" href="/login">Log In</a></li>
              <li><a class="dropdown-item" href="/register">Register</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/subscribe">Subscribe</a></li>
            </ul>
          </li>
          <%}else{%>
            <li class="nav-item dropdown">
              <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
              aria-expanded="false"> -->
              <button class="btn btn-success nav-link dropdown-toggle ms-2" data-bs-toggle="dropdown"
                aria-expanded="false">Sign Out</button>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/subscribe">Subscribe</a></li>
              </ul>
            </li>
            <%}%>
      </ul>
    </div>
  </div>
</nav>