<%- include('../partials/header.ejs') %>
    <title>About Us</title>
    <%- include('../partials/navbar.ejs') %>
        <div class="row">
            <div class="container-fluid bg-white col-12 col-sm-9 mt-5">
                <div class=" row p-3 ">
                    <div class="card-body col-sm-8 border border-3">
                        <div class="pb-2">
                            <h4 class="card-title">About Me</h4><hr>
                            <h6 class="card-text">I am a upcoming software Engineer. You can contact me for end-to-end websites using NoSQL (MERN) as well as SQL databases.I have a very handy experience of working with CPP. I can develop CPP projects with optimisation. Don't forget to check my profiles.  </h6>
                        </div>
                        
                        <div class="mt-5">
                            <a href="https://github.com/Karan190" class="card-link"><button class="btn btn-info "><i class="fa fa-github"></i> GitHub</button></a>
                            <a href="https://www.linkedin.com/in/karan-agrawal19/" class="card-link"><button class="btn btn-primary "><i class="fa fa-linkedin-square"></i> LinkedIn</button></a>
                        </div>
                    </div>
                    <div class="card-body col-sm-3 border border-3">
                        <img class="card-img-top" src="images/KaranFormal.jpg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>